:root {
    --tawareco-red: #E53935;
    --tawareco-yellow: #FFC107;
    --tawareco-black: #0f0f0f;
    --tawareco-white: #FFFFFF;
    --text-color: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    background-attachment: fixed;
    position: relative;
}

p {
    font-family: "Yusei Magic", sans-serif;
    font-style: normal;
}


/* スクロールフェードアニメーション */
.fade-section {
    opacity: 0;
    transform: translateY(60px) scale(0.98);
    transition: all 0.9s cubic-bezier(0.4, 0, 0.2, 1);
    filter: blur(4px);
}

.fade-section.show {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
}



@media (max-width: 600px) {
    html {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        touch-action: manipulation;
    }
}